@page "/"
@using FileUpload.Core
@namespace FileUpload.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorFileUploadService</title>
    <base href="~/" />
    <link rel="apple-touch-icon" sizes="120x120" href="_content/FileUpload.Core/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="_content/FileUpload.Core/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_content/FileUpload.Core/favicon-16x16.png">
    <link rel="manifest" href="_content/FileUpload.Core/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="_content/FileUpload.Core/sample-styles.css" />
</head>
<body>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/FileUpload.Core/downloadHelper.js"></script>
</body>
</html>
