﻿@page "/"
@inject NavigationManager NavigationManager
@inherits FileUploadBase

<h1>Upload files</h1>

<InputFile multiple OnChange="HandleSelection" />

@if (SelectedFiles != null)
{
    foreach (var file in SelectedFiles)
    {
        var isLoading = file.Data.Position > 0;

        <div class="file-row">
            <div>
                <h2>@file.Name</h2>
                Size: <strong>@file.Size bytes</strong>;
                Last modified: <strong>@file.LastModified.ToShortDateString()</strong>;
                Type: <strong>@file.Type</strong>
                Download link:
                @{
                    var downloadLink = this.GetDownloadLink(file);
                    <a href="@downloadLink">@downloadLink</a>
                }
            </div>

            <button @onclick="() => this.UploadFile(file)" disabled="@isLoading">
                @if (!isLoading)
                {
                    <span>Upload file</span>
                }
                else
                {
                    <span>Loaded @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
                }
            </button>
        </div>
    }
}

