<main>
    <Router AppAssembly="typeof(App).Assembly" Context="routeData">
        <Found>
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing here.</p>
        </NotFound>
    </Router>
</main>
